body {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #000000; }
  body header {
    height: 95vh;
    background-image: url(../img/keys.jpg);
    background-size: cover;
    background-position: top; }

.heading-primary {
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  font-size: 8rem;
  font-weight: 600;
  letter-spacing: 3.5rem; }

.heading-secondary {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-size: 4rem;
  font-weight: 200;
  letter-spacing: 1.5rem; }

.heading-topnav {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-size: 4rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(2, 2, 2, 0.4)), url(../img/keys.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__text-box-1 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__topnav {
    position: absolute;
    top: 5%;
    left: 50%; }
    .header__topnav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #000; }
      .header__topnav ul li {
        display: inline;
        font-size: 20px; }
        .header__topnav ul li a {
          text-decoration-color: #ffffff;
          text-decoration: none;
          padding: 14px; }
          .header__topnav ul li a:hover {
            background-color: #111; }
