/*$container-max-width:  
	md: 720px;
	lg: 960px;
	xl: 1140px;
*/
body {
  font-weight: 500;
  width: 100%;
  height: 100%; }
  body .container {
    min-height: 100%;
    height: 100%;
    width: 100%;
    margin: auto;
    display: block; }
  body .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: auto;
    position: relative;
    width: 1500px;
    align-items: center;
    margin-top: 775px;
    margin-bottom: 350px;
    z-index: 1; }
  body h4 {
    text-transform: uppercase;
    background-color: black; }

.table tr, th {
  padding: 10px;
  text-align: left;
  margin-top: 51px; }

.table tr, th, td:not(.different) {
  text-align: center; }

.img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-position: 50% 50%; }

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%; }

.fa-facebook {
  background: #3B5998;
  color: white; }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  min-height: 100vh;
  display: flex;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  overflow-x: hidden; }

main {
  max-width: 1140px;
  top: 0;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1), -30px 0px 40px rgba(0, 0, 0, 0.1); }

.navigation {
  width: 100%;
  display: inline-block;
  list-style: none; }
  .navigation ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    position: relative;
    top: 0;
    width: 100%; }
  .navigation li {
    float: left; }
  .navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  .navigation a {
    text-decoration-color: #ffffff;
    text-decoration: none;
    font-size: 40px;
    padding: 14px;
    float: none;
    display: block;
    width: 100%;
    text-align: left; }
    .navigation a:hover {
      background-color: #808080; }

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 500px;
  max-width: 960px;
  object-fit: fill;
  padding-right: 10px;
  padding-left: 10px;
  perspective: 1000px;
  z-index: 6; }

.content {
  z-index: 3;
  position: relative;
  float: left;
  margin-top: 35px;
  width: 100%;
  height: 100%;
  font-size: 15px;
  text-transform: uppercase;
  transition: transform .08s;
  transform-style: preserve-3d; }

.card-wrapper:hover .content {
  transform: rotateY(180deg);
  transition: 1s; }

.face-front, .face-back {
  position: absolute;
  width: 100%;
  height: 57%;
  background-color: #000;
  color: white;
  backface-visibility: hidden; }

.face-back {
  background: #000000;
  color: white;
  transform: rotateY(180deg);
  backface-visibility: hidden; }

.card-body__title {
  text-align: center;
  margin-bottom: 2px; }

.card-body {
  margin-top: 4rem; }

/*.card {
	backface-visibility: hidden;
  display: inline-block;
  //overflow: hidden;
  background-color: black;
	display: flex;
  //flex-basis: auto;
	justify-content: space-between;
  position: relative;
  left: 40%;
  max-width: 400px;
  max-height: 300px;
  margin: -150px;
  margin-bottom: 10px;
  float: none;
  perspective: 1000px;
  background-color: transparent;
  border-color: red;
  box-shadow: 0 1.5rem 4rem rgba(#000, .15);

  &__card-img {
  	//width: 100%;
  	//height: auto;
  	//object-fit: scale-down;
    //display: block;
    float: left;
    width: 100px;
    height: 100px;
    //object-fit: cover;

  &__responsive-img {
  	object-fit: cover;

  }

  }
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  font-size: 40px;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
  background-color: transparent;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  line-height: 300px;
  color: #ffffff;
  text-align: center;
  font-size: 10rem;
  border-radius: 5px;
  backface-visibility: hidden;
}

.card-title {
	width: 18rem;
	text-align: center;
	float: right;
}

.back {
  background: #000000;
  color: white;
  transform: rotateY( 180deg );
  font-size: 1.34rem;
  line-height: 2.6;
}
*/
/*.header {
	color: black;
	position: absolute;
	background-image: linear-gradient(
		to right bottom, 
		rgba($color-primary-light, 0.1), 
		rgba($color-primary-dark, 0.1)),
	url(../img/keys.jpg);
   	top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 900;
    font-size: 10rem;
    text-transform: uppercase;
    h1 {
    	text-decoration: underline;
    	font-size: 5vw;
    }
    p {
    	font-weight: 1rem;
    	font-size: 1vw;
    }
}*/
.header {
  overflow: hidden;
  position: relative;
  height: 100%;
  background-image: linear-gradient(to right bottom, rgba(105, 105, 122, 0.1), rgba(89, 39, 1, 0.1)), url(../img/keys.jpg);
  margin-top: 0;
  width: 100vw;
  background-size: cover;
  background-position: top;
  position: fixed;
  z-index: -1; }
  .header__text-box {
    color: white;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 900;
    font-size: 10rem;
    text-transform: uppercase; }
    .header__text-box h1 {
      text-decoration: underline;
      font-size: 10vw; }
    .header__text-box p {
      font-weight: 1rem;
      font-size: 1vw; }

@media only screen and (max-width: 320px) {
  body {
    font-size: 2rem; } }

.footer {
  display: inline-block;
  position: fixed;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  text-decoration-color: #fff;
  background-color: #000;
  line-height: 2;
  font-weight: 300;
  bottom: 0; }
  .footer p {
    color: #fff; }

/*.section-studio {
	text-align: center;
	font-size: 2.2em;
}

.section-engineer {
	text-align: center;
	font-size: 2.2em;

}

.section-rates {
	text-align: center;
	font-size: 2.2em;
}*/
.title {
  font-size: 5rem;
  background-color: #000;
  text-align: center;
  padding: 7rem 0; }

.section {
  width: 100%; }
