/*$container-max-width:  
	md: 720px;
	lg: 960px;
	xl: 1140px;
*/
.row {
  margin: 0 auto;
  display: flex;
  overflow-x: scroll;
  flex-wrap: wrap;
  flex-basis: auto;
  position: absolute;
  justify-content: center;
  width: 2500px;
  z-index: 1;
  overflow-y: scroll; }

h4 {
  text-transform: uppercase;
  background-color: black; }

.table tr, th {
  padding: 10px;
  text-align: left;
  margin-top: 51px;
  text-decoration: underline; }

.table tr, th, td:not(.different) {
  text-align: center; }

.img {
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
  object-position: 50% 50%; }

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%; }

.fa-facebook {
  background: #3B5998;
  color: white; }

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%; }

#bg img {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%; }

p {
  font-size: 15px; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%; }

html {
  font-size: 62.5%;
  font: serif;
  height: 100%;
  overflow-y: scroll; }

body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  height: 100%;
  padding-bottom: 60px; }

.navigation {
  width: 100%;
  display: inline-block;
  list-style: none; }
  .navigation ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    position: relative;
    top: 0;
    width: 100%; }
  .navigation li {
    float: left; }
  .navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  .navigation a {
    text-decoration-color: #ffffff;
    text-decoration: none;
    font-size: 40px;
    padding: 14px;
    float: none;
    display: block;
    width: 100%;
    text-align: left; }
    .navigation a:hover {
      background-color: #808080; }

/*.cards {
  display: grid;
  //backface-visibility: hidden;
  background-color: transparent;
  overflow-y: scroll;
  overflow-x: scroll;
  margin-top: -20px;
  position: relative;


  @media screen and (max-width: 600px) {
  .header {
    float: none;
    display: block;
    text-align: center;
  }
}

.card {
  perspective: 1000px;
  //backface-visibility: hidden;

}

.card-body {
  display: flex;
  flex-wrap: wrap;
  //transform-style: preserve-3d;
  //transition: var(--time_) transform;
}

//.card:hover, .card:focus {
//  transform: rotateY(-180deg);
//}

.card-front, .card-back 
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(-180deg) translate(-100% 0);
}

.card {
  grid-gap: .5rem;
  background: transparent;
  //background: whitesmoke;
  grid-template-column: repeat(auto-fill, minmax(225px, 1fr));
}

.card {
  display: flex;
  //transition: z-index, transform calc(var(--time) / 4);
  //transition-delay: var(--time), 0s;
  text-decoration: none;
  color: transparent;
  z-index: 0;



  //&:hover {
  //  transition-delay: 0s;
  //  z-index: 1;
  //}

  //&:active {
  //  transform: scale(0.975);
  //}
}

.card-body {
  border-radius: 3rem;
  align-content: center;
  text-align: center;
}

.card-front, .card-back {
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  position: relative;

  .table { 
    text-decoration: underline;
  }
}

.card-front {
  font-size: 6rem;
  width: 60%;

  //&--1 {
  //  background-image: url(../img/controlroom.jpg);
  //}
  //&--2 {
  //  background-image: url(../img/me2.jpg);
  //}
  //&--3 {
  //  background-image: url(../img/mix.jpg);
  //}
}
*/
.header {
  position: sticky;
  width: 100%;
  text-align: center;
  flex: 0 1 40vw;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: white;
  font-size: 7rem;
  z-index: 1;
  text-transform: uppercase; }
  .header h1 {
    font-size: 9vw; }
  .header p {
    font-size: 4vw; }

.footer {
  display: inline-block;
  height: 60px;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  text-decoration-color: #fff;
  background-color: #000;
  line-height: 2;
  font-weight: 300;
  bottom: 0; }
  .footer p {
    color: #fff; }

#bodIs {
  padding: 10px;
  padding-bottom: 60px; }

#container {
  min-height: 100%;
  z-index: 4; }

.content {
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  padding-bottom: 60px; }
