body {
	font-family: "Lato", sans-serif;
	font-weight: 500;
	color: $color-primary;

	header {
	height: 95vh;
	background-image: url(../img/keys.jpg);
	background-size: cover;
    background-position: top;
	}
}

.heading-primary {
	text-transform: uppercase;
	text-align: center;
	text-decoration-color: underline;
	font-size: 8rem;
	font-weight: 600;
	letter-spacing: 3.5rem;
}

.heading-secondary {
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	font-size: 4rem;
	font-weight: 200;
	letter-spacing: 3.5rem;
}

.heading-topnav {

}

.paragraph {

}