body {
	font-weight: 500;
	color: $color-primary;
	width: 100%;
	height: 100%;

	.row {
		//-webkit-justify-content: center;
		position: relative;
		background-color: black;
	}

	.container-fluid {
		position: relative;
		min-height: 100%;
	}

	.container {
		position: relative;
		background-color: #000;
		min-height: 100vh;
		overflow: hidden;
		display: block;
		padding-bottom: 100px;
	}

	.section {
		position: relative;
		margin-top: 100%;
		background-color: black;
		margin-bottom: auto;
		margin-bottom: auto;
	}

}




