.cards {
  display: grid;
  //backface-visibility: hidden;
  background-color: transparent;
  overflow-y: scroll;
  overflow-x: scroll;
  margin-top: -20px;
  position: relative;


  @media screen and (max-width: 600px) {
  .header {
    float: none;
    display: block;
    text-align: center;
  }
}

.card {
  perspective: 1000px;
  //backface-visibility: hidden;

}

.card-body {
  display: flex;
  flex-wrap: wrap;
  //transform-style: preserve-3d;
  //transition: var(--time_) transform;
}

.card:hover, .card:focus {
  transform: rotateY(-180deg);


.card-front, .card-back 
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(-180deg) translate(-100% 0);
}

.card {
  grid-gap: .5rem;
  background: transparent;
  //background: whitesmoke;
  grid-template-column: repeat(auto-fill, minmax(225px, 1fr));
}

.card {
  display: flex;
  //transition: z-index, transform calc(var(--time) / 4);
  //transition-delay: var(--time), 0s;
  text-decoration: none;
  color: transparent;
  z-index: 0;



  //&:hover {
  //  transition-delay: 0s;
  //  z-index: 1;
  //}

  //&:active {
  //  transform: scale(0.975);
  //}
}

.card-body {
  border-radius: 3rem;
  align-content: center;
  text-align: center;
}

.card-front, .card-back {
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  position: relative;

  .table { 
    text-decoration: underline;
  }
}

.card-front {
  font-size: 6rem;
  width: 60%;

  //&--1 {
  //  background-image: url(../img/controlroom.jpg);
  //}
  //&--2 {
  //  background-image: url(../img/me2.jpg);
  //}
  //&--3 {
  //  background-image: url(../img/mix.jpg);
  //}
}

}
}