.card {
	perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
	height: auto;
	width: auto;
	border: 2px solid #color-primary-dark;


	&__side {
        height: 40rem;
        transition: all .5s ease;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;

		&--front {
			background-color: orangered;
		}

		&--back {
			transform: rotateY(180deg);
		}
	}
	


	&:hover &__side--front {
		transform: rotatY(-180deg);
	}

	&:hover &__side--back {
		transform: rotateY(0);
	}

	&__picture {
		background-size: cover;
		height: 23rem;
		background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        
		&--1 {
			img: url(../img/mix.jpg);
			width: auto;
			height: auto;
		}

		&--2 {
			img: url(../img/me.jpg);
			width: auto;
			height: auto;
		}
	}


	&__heading {
		font-size: 23rem;
		font-weight: 400;
		text-transform: uppercase;
		text-align: center;
		color: $color-text;
		top: 12rem;
        right: 2rem;
        width: 75%;
	}

	&__heading-span {
		padding: 1rem 1.5rem;
	}

	&__details {
		padding: 5rem;

		p {
			text-align: center;
			font-size: detault-font-size;
			}
		}
	}

