.flip-card {
	background-color: transparent;
	height: 100px;
	width: 600px;
	border: 2px solid #color-primary-dark;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: .5s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
	transform: rotatY(180deg);
}

.flip-card-front {
	background-image: url(../img/mix.jpg);
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-card-back {
	text-decoration-color: $color-text;
	font-size: $default-font-size;
	transform: rotateY(180deg);
}