.section-studio {
	padding: 25rem;
	text-align: center;
	font-size: 1.5em
}

.section-engineer {
	padding: 25rem;
	text-align: center;
	font-size: 1.5em

}

.section-rates {
	padding: 25rem;
	text-align: center;
	font-size: 1.5em
}

.section-recent-projects {
	padding: 25rem;
	font-size: 1.5em
}

.section-contact {
	padding: 25rem;
	text-align: center;
	font-size: 1.5em
}

.footer {
	text-align: center;
	padding: 3px;
	background-color: $color-primary;
	color: white;
}