.section-studio {
	background-color: $color-primary-dark;
	padding: 50rem;
	text-decoration-color: #ffffff;
	text-align: center;
}

.section-engineer {
	background-color: $color-primary-dark;
	padding: 50rem;
	text-decoration-color: #ffffff;
	text-align: center;

}

.section-rates {
	background-color: $color-primary-dark;
	padding: 50rem;
	text-decoration-color: #ffffff;
	text-align: center;
}

.section-recent-projects {
	background-color: $color-primary-dark;
	padding: 50rem;
	text-decoration-color: #ffffff;
	text-align: center;
}