.section-studio {
	padding: 25rem;
	text-align: center;
	font-size: 2em
}

.section-engineer {
	padding: 25rem;
	text-align: center;
	font-size: 1.5em

}

.section-rates {
	padding: 25rem;
	text-align: center;
	font-size: 1.5em
}