.footer {
<<<<<<< HEAD
	//margin-top: auto;
	display: inline-block;
	//padding: 10rem 0;
=======
	height:60px;
>>>>>>> 8d4c371684ed7f166269d4bf591346ba21b7af6b
	width: 100%;
	font-size: 2rem;
	text-align: center;
	color: #fff;
	text-decoration-color: #fff;
	background-color: #000;
	line-height: 2;
	font-weight: 300;
	bottom: 0;
		p {
			color: #fff;
		}
}
