.footer {
	position: fixed;
	display: inline-block;
	width: 100%;
	font-size: 1.5rem;
	text-align: center;
	color: #fff;
	text-decoration-color: #fff;
	background-color: #000;
	line-height: 2;
	font-weight: 300;
	bottom: 0;
		p {
			color: #fff;
		}
}
