.header {
	position: sticky;
	width: 100%;
	/*flex: 0 1 40vw;
	justify-content: center;
	align-items: center;*/
	background-color: #211d21;
	color: #211d21;
	font-size: 7rem;
	z-index: 1;
}

.header-image {
	padding: 25px;
	width: 50%;
	height: 25%;
	align-items: center;
	justify-content: center;
}