.header {
	position: sticky;
	width: 100%;
	text-align: center;
	flex: 0 1 40vw;
	justify-content: center;
	align-items: center;
	background-color: #211d21;
	color: #211d21;
	font-size: 7rem;
	z-index: 1;
	text-transform: uppercase;
}

.header-image {
	width: 75%;
	height: 50%;
}