.page-header {
	height: 80vh;
	background-image: linear-gradient(
		to right bottom, 
		rgba($color-primary-light, 0.2), 
		rgba($color-primary-dark, 0.2)),
	url(../img/keys.jpg);
	background-size: cover;
	background-position: top;
	position: relative;

	&__text-box {
		color: white;
		position: absolute;
    	top: 40%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    	text-align: center;
	}

	&__text-box-1 {
		color: white;
		position: absolute;
    	top: 55%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    	text-align: center;
    	
	}
}

	